.it {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-pic {
            padding-bottom: 30px;
        }
        &-title {
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            text-align: center;
            background: $red-text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 30px;
        }
        &-text {
            font-weight: 400;
            font-size: 19px;
            line-height: 30px;
            text-align: center;
            color: $white;
            padding-bottom: 30px;
        }
        &-btn {
            margin-bottom: 60px;
            &:hover {
               color: $white;
            }
        }
    }
    &__form {
        background: $bg;
        border-radius: 12px;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        margin-bottom: 60px;
        width: 315px;
        max-width: 100%;
        transform: translateY(-90%);
        &-overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: $main-alt;
            opacity: 0;
            visibility: hidden;
            cursor: pointer;
            transition: all .3s ease;
        }
        &-overlay.show {
            visibility: visible;
            opacity: 1;
        }
        &-close {
            position: absolute;
            border: none;
            cursor: pointer;
            background: transparent;
            padding: 9px;
            border-radius: 12px;
            top: 21px;
            right: 21px;
            &:hover {
                background-color: $separator
            }
        }
        &-body {
            display: flex;
            flex-direction: column;
            padding: 30px;
        }
        &-title {
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            background: $red-text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 30px;
            margin-right: 50px;
        }

        &-messages {
            font-family: 'Montserrat','Arial', sans-serif;
        }
        &-secondtitle {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $text;
            padding-top: 15px;
        }
        &-btn {
            margin-top: 15px;
            position: relative;
        }

    }
    &__form.show {
        position: relative;
        visibility: visible;
        opacity: 1;
    }
}
@media screen and (min-width:648px) {
    .it__form {
        width: 650px;
        transform: translateY(-60%);
    }
}
